<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    {{>header}}
    <p1>{{content}}</p1><br/>
    {{>footer}} 
</body>

</html>